<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
			"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
 <session-factory>
	<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/saurabh</property>
	<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
	<property name="hibernate.connection.username">postgres</property>
	<property name="hibernate.connection.password">root</property>
	<!--  if the below property is set to true all the query made by Hibernate to the DB
	are printed to the console. -->
	<property name="hibernate.show_sql">true</property>
	<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
	<!-- the below property if set to create, hibernate creates the table in database
	every time and drops existing one rather set to update it just update the database.
	creates table if not present already -->
	<property name="hibernate.hbm2ddl.auto">create</property>
  	<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
  	 <!-- 
  	 	<mapping class ="com.saurabh.entities.Employee" />
  	 	<mapping class ="com.saurabh.entities.Family" />
  	  -->
 </session-factory>
</hibernate-configuration>